{% extends "lists/base.html" %}
{% block header_text %}To-Do lists{% endblock %}
{% block form_action %}/lists/{{list.id}}/add_item{% endblock %}
{% block table %}
        <table id="id_list_table" class="table">
	    {% for item in list.item_set.all %}
	    <tr>
		    <td>{% if item.text%}{{forloop.counter}}: {{item.text}}{% endif %}</td>
	    </tr>
	    {% endfor %}
        </table>
{% endblock %}
